<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Login</title>
  <link rel="stylesheet" type="text/css" href="Login.css"/>
</head>
<body>
<p id="login">
<h1>Login</h1>
<form method="post">
  <input type="text" required="required" placeholder="用户名" name="userName"></input>
  <input type="text" required="required" placeholder="手机号码" name="phoneNumber"></input>
  <input type="password" required="required" placeholder="密码" name="passWord"></input>
  <button class="but" type="submit">登录</button>
</form>
</p>
</body>
</html>